.btn-block {
	margin-top: 10px !important;
}

.modalmargins {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

#listModal .modal{
    display: block !important;
}

#listModal .modal-dialog{
    overflow-y: initial !important;
}

#listModal .modal-body{
  overflow-y: auto;
  height: 75vh;
}

#picBtn {
	position: absolute;
	top: 0px;
	right: 0px;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

#staticmap, #streetview, #mapcanvas {
	padding: 0px !important;
}

#gameButtons {
	position: fixed;
	bottom: 0px;
	right: 0px;	
}

.thumbsUp:hover, .deleteRec:hover {
	cursor: pointer;
}

.thumbedUp, .placeName {
    color: #337ab7; 
    font-weight: bold;
}

.overlayContainer {
    position: relative;   
}

.overlayContainer:hover > .overlayCaption {
    visibility: visible;   
}

.overlayCaption {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    background-color: rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    padding-top: 20%;
}