.btn-block {
	margin-top: 10px !important;
}

.modalmargins {
	margin-left: 50px !important;
	margin-right: 50px !important;
}

.modalmargins > .modalwidth {
	width: 1260px !important;
}

#listModal .modal{
    display: block !important;
}

#listModal .modal-dialog{
      overflow-y: initial !important
}

#listModal .modal-body{
  height: 250px;
  overflow-y: auto;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

#staticmap, #streetview, #mapcanvas {
	padding: 0px !important;
}

#gameButtons {
	position: fixed;
	bottom: 0px;
	right: 0px;
	
}