/* CSS declarations go here */
html, body { 
    height: 100%; 
	width: 100%;
    margin: 0; 
    padding: 0;
	font-family: calibri, sans-serif;
}

.answerOverlay {
	background-color: rgba(0,0,0,0.6);
	font-size: 25px;
	color: white;
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 300px;
}

#hints{
	width: 100%;
	padding-left: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	line-height: 10px;
	background-color: #FF946A;
	color: white;
	font-size: 25px;
}

#map-canvas, #static-maps {
    height: 82%;
	width: 49.5%; 
    margin: 0; 
    padding: 0;
	display: inline-block;
	margin-top: 100px;
	position: relative;
}

#static-maps {
	background-color: #eee;
	background-size: auto 100%;
}

.street-view {
	width: 100%;
	height: 100%;
}

#topbar {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #5FE2FB;
}

.inbar {
	display: inline-block;
	height: 100%;
	width: 150px;
	background-color: #36C3DD;
	color: white;
	font-size: 20px;
	vertical-align: top;
	border: none;
	padding: 0px;
	margin: 0px;
	margin-left: 1px;
	text-align: center;
}

#index, #check {
	background-color: rgba(0,0,0,0);
}

.index, .check {
	height: 47%;
	position: flow;
	margin-bottom: -50px;
	padding-bottom: 0px;
}

#nextB, #backB {
	background-color: #36C3DD;
	width: 71px;
	color: white;
	font-size: 30px;
	font-style: bold;
	vertical-align: top;
	border: 0px;
	padding: 0px;
	margin-top: 54px;
	margin-left: 1px;
	text-align: center;
}

#current, #solved {
	background-color: #36C3DD;
	width: 148px;
	color: white;
	vertical-align: bottom;
	border: none;
	padding: 0px;
	margin-top: -20px;
	margin-left: 2px;
	text-align: center;
	line-height: 45px;
}

#status {
	padding-top: 7px;
	height: 93px;
	width: 200px;
	margin-right: 2px;
	background-color: rgba(255,255,255,0.5);
}

#checkB {
	background-color: #36C3DD;
	width: 148px;
	color: white;
	font-size: 18px;
	vertical-align: top;
	border: 0px;
	padding: 0px;
	margin-top: 54px;
	margin-left: -1px;
	text-align: center;
}

#streetToggleB, #hintB {
	font-size: 19px;
	width: 100px;
}

#solved {
	margin-left: 0px;
}

#solved p{
	vertical-align: middle;
}

#title {
	font-size: 50px;
	width: 500px;
	font-family: "Amatic SC", calibri, sans-serif;
	line-height: 90px;
	background-color: #FF946A;
}
